.abbie {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border: 2px solid darkmagenta;
}

p.firstp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    border: 2px solid darkblue;
}

#h2id:hover {
    color: lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: xx-large;
    border: 2px solid darkcyan;
    text-align: center;
}

.tableA {
    margin: auto;
    font-size: 20px;
    border: 2px solid black;
}

.tableA th {
    color: black;
    text-align: center;
    border: 2px solid black;
}

.tableA td {
    color: black;
    text-align: left;
    border: 2px solid black;
}